* {
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    font-size: 52px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin-right: 20px;
    padding: 20px;
    height: 75px;
    -ms-transform: rotate(-7deg);
    /* IE 9 */
    -webkit-transform: rotate(-7deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
    cursor: pointer;
}

.round {
    color: #0000ff;
    border: 2px solid red;
    padding: 10px;
    display: inline;
    float: right;
    border-radius: 20px;
}

.difficulty {
  display: inline;
  float: none;
  margin-left: 10px;
}

.xylophone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    width: 100px;
    margin: 20px;
}

#keyC {
    background-color: red;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
}

#keyD {
    background-color: orange;
    height: 230px;
    border-radius: 20px;
    cursor: pointer;
}

#keyE {
    background-color: #FFEF00;
    height: 260px;
    border-radius: 20px;
    cursor: pointer;
}

#keyF {
    background: green;
    height: 290px;
    border-radius: 20px;
    cursor: pointer;
}

#keyG {
    background: blue;
    height: 310px;
    border-radius: 20px;
    cursor: pointer;
}

#keyC:hover {
    background-color: rgba(255, 0, 0, .5);
    cursor: pointer;
}

#keyD:hover {
    background-color: rgba(255, 127, 0, .5);
    cursor: pointer;
}

#keyE:hover {
    background-color: rgba(255, 255, 0, .5);
    cursor: pointer;
}

#keyF:hover {
    background-color: rgba(0, 255, 0, .5);
    cursor: pointer;
}

#keyG:hover {
    background-color: rgba(0, 0, 255, .5);
    cursor: pointer;
}

#keyC:click {
    background-color: rgba(255, 0, 0, .5);
}

#keyD:click {
    background-color: rgba(255, 127, 0, .5);
}

#keyE:click {
    background-color: rgba(255, 255, 0, .3);
}

#keyF:click {
    background-color: rgba(0, 255, 0, .5);
}

#keyG:click {
    background-color: rgba(0, 0, 255, .5);
}

img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

img_title {
    display: table;
    background: #888888;
    position: absolute;
}
